/* backend/frontend/src/App.css */

.App {
  font-family: Arial, sans-serif;
}

.content {
  padding-top: 80px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .content {
    padding-top: 80px;
    padding: 10px;
  }
}
